<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Clientes</title>
    <link rel="stylesheet" href="/css/cliente.css">
</head>
<body>
    <header>
        <h1>Cadastro de Clientes</h1>
        <div class="button-container">
            <button class="header-button" type="button" onclick="window.location.href='/clientes/clientes'">Início</button>
        </div>
    </header>

    <div class="container">
        <h1>Cadastro de Clientes</h1>
        <form action="/clientes/cliente" method="post" onsubmit="return validarFormulario()">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Digite seu Nome" maxlength="100" required> <br>

            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" placeholder="Digite seu Endereço" maxlength="100" required> <br>

            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" name="cidade" placeholder="Digite sua Cidade" maxlength="100" required> <br>

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" placeholder="Digite seu CPF" maxlength="11" required> <br>

            <label for="rg">RG:</label>
            <input type="text" id="rg" name="rg" placeholder="Digite seu RG" maxlength="9" required> <br>

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" placeholder="Digite seu Telefone" maxlength="15" required> <br>

            <button class="cadastrar" type="submit">Cadastrar</button>
        </form>
    </div>

    <script>
     function validarFormulario() {
            // Validação de CPF (apenas tamanho 11, sem restrição de letras)
            var cpf = document.getElementById("cpf").value;
            if (cpf.length !== 11) {
                alert("O CPF deve ter 11 caracteres.");
                return false;
            }

            /// Validação de RG (entre 7 e 9 caracteres, sem restrição de letras ou números)
            var rg = document.getElementById("rg").value;
            if (rg.length < 7 || rg.length > 9) {
                alert("O RG está incompleto");
                return false;
            }

            return true; // Se passar nas validações, o formulário será enviado
        }
    </script>
</body>
</html>
